APP_NAME = Meeti (Development)
DATABASE_URL =
BETTER_AUTH_SECRET =
BETTER_AUTH_URL = 

EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_USER = 
EMAIL_PASS = 

#  https://uploadthing.com/dashboard
UPLOADTHING_TOKEN=
