APP_NAME = Meeti (Development)
DATABASE_URL =
BETTER_AUTH_SECRET =
BETTER_AUTH_URL = 

EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_USER = 
EMAIL_PASS = 

#  https://uploadthing.com/dashboard
UPLOADTHING_TOKEN=

# https://dashboard.pusher.com/
PUSHER_APPID = 
PUSHER_KEY = 
PUSHER_SECRET = 
PUSHER_CLUSTER = 

NEXT_PUBLIC_PUSHER_KEY = $PUSHER_KEY
NEXT_PUBLIC_PUSHER_CLUSTER = $PUSHER_CLUSTER